:root {
    /* Colors */
    --clr-primary-400: hsl(31, 77%, 52%);
    --clr-secondary-500: hsl(184, 100%, 22%);
    --clr-tertiary-900:  hsl(179, 100%, 13%);

    --clr-neutral-p-200: hsla(0, 0%, 100%, 0.75);
    --clr-neutral-bgb-100: hsl(0, 0%, 95%);

    /* Fonts */
    --fw-regular: 400;
    --fw-bold: 700;

    --ff-base: 'Big Shoulders Display', sans-serif;
    --ff-accent: 'Lexend Deca', sans-serif;

    /*  */
    /* - Desktop: 1440px */
    /* - Font size: 15px */

}


/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }

  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* General Styling */

  body {
    display: grid;
    place-content: center;
    margin: 1.5rem;
    font-family: var(--ff-accent);
    /* font-size: 0.9375rem; */
    font-size: 0.875rem;
    background-color: var(--clr-neutral-bgb-200);
   }

.cars {
    display: grid;
    border-radius: 1rem;
    max-width: 900px;
}


.car-title {
    font-size: 2rem;
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-p-200);
    text-transform: uppercase;
}

.car-description {
    color: var(--clr-neutral-p-200);
}

.btn-1, .btn-2, .btn-3 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--clr-primary-400);
    border: 3px solid transparent;
    border-radius: 1.5rem;
    text-decoration: none;
    padding: 0.4rem;
    width: 60%;
    font-size: 0.825rem;
    font-weight: var(--fw-regular);
    transition: background-color 0.3s;
}

.btn-1:hover {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-p-200);
    border: 3px solid var(--clr-neutral-p-200);
}

.btn-2:hover {
    background-color: var(--clr-secondary-500);
    color: var(--clr-neutral-p-200);
    border: 3px solid var(--clr-neutral-p-200);
}

.btn-3:hover {
    background-color: var(--clr-tertiary-900);
    color: var(--clr-neutral-p-200);
    border: 3px solid var(--clr-neutral-p-200);
}



.btn-2 {
    color: var(--clr-secondary-500);
}

.btn-3 {
    color: var(--clr-tertiary-900);
}

.sedan-orange {
    display: grid;
    gap: 1.5rem;
    background-color: var(--clr-primary-400);
    padding: 3rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.suvs-green {
    display: grid;
    gap: 1.5rem;
    background-color: var(--clr-secondary-500);
    padding: 3rem;
}

.luxury-dark {
    display: grid;
    gap: 1.5rem;
    background-color: var(--clr-tertiary-900);
    padding: 3rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/* Responsive */

@media (min-width: 800px) {

    body {
        height: 100vh;
    }

    .cars {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .sedan-orange {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-top-right-radius: 0;
    }

    .luxury-dark {
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0;

    }

    .btn {
        padding: 0.6rem ; 
    }

    .car-description {
        margin-bottom: 	2.8125rem;
    }

}
